#App{
  display:flex;
  justify-content:center;
}

.cardList{
  width:300px;
}

.nametag{
  display:flex;
  align-items:center;
  padding:12px;
}

.nameTag:hover {
  cursor: pointer;
  background-color: #015ed0;
}

.nameTagTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  margin-left:8px;
}

.nameTagPic {
  height: 40px;
  width:40px;
  border-radius: 5px;
}

#myImage {
  width: 450px;
  padding: 5px;
  height:600px;
}

.input{
    width:450px;
}

.input input {
  width: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: column;
}